.produtos-search__header{
    display: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.produtos-search__input{
    display: flex;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 10px;
    font-size: 16px;
}

.produtos-search__header h1{
    text-transform: uppercase;
    color: #060b26;
}

.btn1{
  padding: 10px;
  background-color: #060b26;
  border: none;
  color:#fff;
}

.btn{
  padding: 10px;
  margin-right: 25px;
  margin-left: 245px;
  background-color: #060b26;
  border: none;
  color:#fff;
}

.titles{
  display: flex;
  
  
  align-items: center;
}